.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: justify;
}
.product_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
}
.product {
  width: 220px;
  margin: 10px;
  background-color: rgb(146, 127, 164);
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}
.product1 {
  width: 220px;
  height: 400px;
  margin: 10px;
  background-color: rgb(146, 127, 164);
  text-align: center;
  border-radius: 15px;
}
.product_img {
  border-radius: 15px 15px 0 0;
  height: 275px;
  object-fit: cover;
}
.product_content {
  padding: 15px;
  font-weight: bold;
}
.new_product {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.product_input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  max-width: 320px;
  background: transparent;
  color: #ccc;
}
.back_button {
  padding: 10px;
  border: none;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
  color: #fff;
  text-transform: capitalize;
}
.baba {
  text-align: center;
}
